@{
    ViewBag.Title = "Your registration is not complete yet..";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please login and complete your registration. Verify items in your "Cart" and click checkout.  Check the waiver agreement and submit the registration. 
</p>
