@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>For more info visit us at <a href="http://couplesforchristusa.org/sea/ga/">http://couplesforchristusa.org/sea/ga/</a></p>
    </div>
</div>