@{
    ViewBag.Title = "Contact";
}
<hgroup>
    @*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
</hgroup>
<div>
    <address>
        Kids For Christ GA<br />
        Atlanta, GA 30000<br />
        <abbr title="Phone">P:</abbr>
        678-111-2222
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Registration:</strong><a href="mailto:kidsforchrist.ga@gmail.com?subject=Registration">kidsforchrist.ga[at]gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Report a website issue:</strong><a href="mailto:kidsforchrist.ga@gmail.com?subject=Issue">kidsforchristga[at]gmail.com</a><br />
    </address>
</div>