@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CFC KV 2016 Registration</h1>
    <p class="lead">June 18-19, 2016</p>
    <p class="lead">Eatonton, GA</p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Register", "Items", new {eventId=7})'">Register Now &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>



</div>